DATABASE_URL="postgresql://user:password@host:port/dbname?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/dbname?sslmode=require"
MONGO_URI="mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster0"
JWT_SECRET="your_jwt_secret_key"

# EmailJS REST API Configuration
EMAILJS_SERVICE_ID="your_emailjs_service_id"
EMAILJS_TEMPLATE_ID="your_emailjs_template_id"
EMAILJS_PUBLIC_KEY="your_emailjs_public_key"
EMAILJS_PRIVATE_KEY="your_emailjs_private_key"
